<%- include('header') -%>
<div class="menu-rallye">
  <h4>Autres rallyes</h4>
  <% for (rallye of rallyes) { %>
    <% if (participations[0].rallye_name !== rallye.rallye_name) { %>
    <a href="/participations/get/<%=rallye.rallye_id%>" class="header item"><%=rallye.rallye_name %></a>
  <% } %>
<%  } %>
</div>
 
<div class="ui main container">
  <h1 class="page-title">
    <% if(participations[0].rallye_name === "Aucune participation") { %> <%=
    participations[0].rallye_name %> <% } else { %> Classement par rallye >
    <span class="rallye"><%= participations[0].rallye_name %></span>
    <% } %>
  </h1>
  
  <div class="my-container">
    <div class="participations-header">
      <div class="classement-header-item">Classement</div>
      <div class="classement-header-item">Nom</div>
      <div class="classement-header-item">Points</div>
      <div class="classement-header-item">Temps</div>
      <div class="classement-header-item"></div>
    </div>
    <% let i = 1; for (participation of participations) { %>
    <div class="participations">
      <div class="classement-body-item">#<%= i %></div>
      <div class="classement-body-item"><%= participation.player_name %></div>
      <div class="classement-body-item"><%= participation.points %></div>
      <div class="classement-body-item temps">
        <div><%= participation.minutes.toString().padStart(2, '0')%>:</div>
        <div><%= participation.seconds.toString().padStart(2, '0') %>:</div>
        <div><%= participation.milliseconds.toString().padStart(3, '0') %></div>
      </div>
      
      <div class="classement-body-item">
        <% if(participations[0].rallye_name !== "Aucune participation") { %> 
        <a href='/participations/delete/<%=participation.rallyeId%>/<%=participation.participation_id%>'><button class="ui red submit icon button">Supprimer</button></a>
        <% } else { %>
        
        <% } %>
      </div>
    </div>
    <% i++} %> 
    
    <div class="ui comments">
    <div class="home-links">
      <a href="/participations/form/<%=participations[0].rallye_name%>" class="header item">
        <button class="ui yellow submit icon button">
          Ajouter un temps
        </button>
      </a>
    </div>
    </div>
</div>
    <%- include('footer') -%>

